@page "/addexpense"
@using System.Globalization;
@inject UserService userService
@inject UserSession session
@inject IAddExpenseUseCase AddExpenseUseCase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authenticationStateProvider
@inject IJSRuntime js

<h3>Add Expense</h3>
<br />

@*take information from user*@
<AuthorizeView>
	<Authorized>
		<EditForm Model="expense" OnValidSubmit="SaveExpense" autocomplete="off" Context="context2">
	@*	use the data validation defined in expense class*@
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<ValidationSummary></ValidationSummary>

			
		
	<div class="form-group">
		<label for="name">Expense name</label>
		<InputText id="name"
				   @bind-Value=expense.ExpenseName
				   class="form-control">
		</InputText>
	</div>

	<div class="form-group">
		<label for="cost">Cost</label>
		<InputNumber id="cost"
					 @bind-Value=expense.ExpenseCost
					 class="form-control">
		</InputNumber>
	</div>

	Frequency of expense
	<InputSelect class="form-select" @bind-Value="expense.Interval">
		
		<option value="@ExpenseInterval.Monthly">Monthly</option>
		<option value="@ExpenseInterval.Quarterly">Quarterly</option>
		<option value="@ExpenseInterval.Yearly">Yearly</option>

	</InputSelect>
	
	<br />
	<br />
	<button type="submit"
			class="btn btn-primary">
		Save
	</button>



	<button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>

	
</EditForm>
	</Authorized>
</AuthorizeView>




@code {
	[CascadingParameter]
	private Task<AuthenticationState>? authenticationState { get; set; }
	private Expense expense = new Expense();

	private async Task SaveExpense()
	{
		//Can probably be neatly packed into a repository function, but for testing purposes
		var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
		await customAuthenticationStateProvider.GetAuthenticationStateAsync();

		try
		{
			await AddExpenseUseCase.ExecuteAsync(expense, userService.GetByUserName(authenticationState.Result.User.Identity.Name));
			NavigationManager.NavigateTo("/Expenses");
		}
		catch (Exception)
		{
			await js.InvokeVoidAsync("alert", "Database function issue, try again");

		}
		
		
	}
	private void Cancel()
	{
		NavigationManager.NavigateTo("/Expenses");
	}

	private void ValidateInterval()
	{

	}

}
