@page "/createUser"
@inject NavigationManager NavigationManager
@inject ICreateUserUseCase CreateUserUseCase
@inject IJSRuntime js
<h3>Create Account</h3>
<br />

<EditForm Model="newAcc" OnValidSubmit="SaveUser" autocomplete="off">
	@*	use the data validation defined in expense class*@
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<ValidationSummary></ValidationSummary>


	<div class="form-group">
		<label for="name">Name</label>
		<InputText id="name"
				   @bind-Value=newAcc.Name
				   class="form-control">
		</InputText>
	</div>

	<div class="form-group">
		<label for="cost">Password</label>
		<InputText type="password"
				   placeholder="Password"
				   id="password"
				   @bind-Value=newAcc.Password
				   class="form-control"
				   autocomplete="off">
		</InputText>
	</div>

	<div class="form-group">
		<label for="cost">Repeat password</label>
		<InputText type="password"
				   placeholder="Password"
				   id="comparison"
				   @bind-Value=newAcc.ConfirmPassword
				   class="form-control"
				   autocomplete="off">
		</InputText>
	</div>

	<br />
	<br />
	<button type="submit"
			class="btn btn-primary">
		Save
	</button>




</EditForm>

@code {
	AccountCreation newAcc = new AccountCreation();


	private async Task SaveUser()
	{
		try
		{
			await CreateUserUseCase.ExecuteAsync(newAcc);
			NavigationManager.NavigateTo("/login", true);
		}
		catch (Exception e)
		{
			await js.InvokeVoidAsync("alert", e.Message);
			newAcc.Name = string.Empty;
		}
		
	}


}
